<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/style.css')}}" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js"></script>
	<script>window.less || document.write('<script src="/static/js/less.js">\x3C/script>')</script>
	{% block head %}{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}
</body>
</html>