{% extends 'base.html' %}

{% block head %}
<title>Dion - Load Character</title>
{% endblock %}

{% block body %}

<div class="topnav">
	<div class="page_title">Dion</div>
  	<a href="logout">Log Out</a>
  	<a href="new_character" target="_blank">New Character</a>
</div>

<div class="title">
<h1>Character Loader</h1>
</div>

<div class="menu">

</div>

<div class="interface-window">

	<p>Select a Character to load</p>
	
	<form action="{{ url_for('main.characters') }}" method="POST">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
		
		<select name="character" id="character" required>
		<option value="" selected="selected" disabled>Select One</option>
		{% for character in Characters %}
		<option value="{{character}}">{{character}}</option>
		<br>
		{% endfor %}
		</select>
		
		<input type="submit" value="Play">
	</form>

</div>



{% endblock %}