* {
    box-sizing: border-box;
}

body {
    background-color: #F7F9FB;
    font-family: Optima, sans-serif;
}

.flex-container-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container-signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container-newcharacter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.flex-container-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    height: 20%;
}

#stats-instruction {
	width: 50%;
}

.stats-description {
	width: 50%;
	float: left;
	background-color: #8FC1E3;
    padding: 2px;
}

#stats-left {
    display: left;
	width: 30%;
}

.stat-label {
	display: inline-block;
	width: 25%;
}

.stat-input {
    display: inline-block;
    width: 20%
}

.stat-mouseenter {
	background-color: #5085A5;
    color: #F7F9FB;
}

.stat-click {
	background-color: #8FC1E3;
    color: #000000;
}

.error{
	display: inline;
	color: red;
	font-size: 75%;
}

.flex-container-play {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.flex-container-play {
    padding: 2px;
}

.flex-container-interface {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

.flex-container-interface * {
    padding: 2px;
}

#interface-window {
	width: 80%;
	height: 400px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size:  13px;
	font-weight: 500;
    color: #0f3242;
	background-color: #bbc9d3;
    border-style: solid;
    border-color: #5085A5;
    border-width: thin; 
	overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    white-space: pre-wrap;
    float: left;
    list-style-type: none;
}

#status-window {
    width: 18%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size:  13px;
    color: #0f3242;
	background-color: #b9c9b5;
    border-style: solid;
    border-color: #5085A5;
    border-width: thin; 
    float: right;
}

.flex-container-action {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.flex-container-action * {
    padding: 2px;
}

#emit_data {
    border-radius: 5px;
    width: 75%;
}

.total-training-points {
    font-size: x-large;
}

.flex-container-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

.skill-name-label {
    width: 15%;
    display: inline-block;
}

.skill-point-costs {
    display: flex;
    flex-direction: column;
    width: 30%;
    display: inline-block;
}

.physical-point-label {
    display: inline-block;
}

.physical-point-cost {
    display: inline-block;
}

.mental-point-label {
    display: inline-block;
}

.mental-point-cost {
    display: inline-block;
}

.increase-button {
    width: 3%;
    display: inline-block;
}

.skill-value {
    width: 2%;
    display: inline-block;
}

.decrease-button {
    width: 3%;
    display: inline-block;
}

.submit-button {
    font-size: x-large;
}

