{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}

<div class="topnav">
	<div class="logo-image"><img class="title-image" src="/static/images/title.jpg"></div>
	<div class="menu">
		<a href="signup">Sign Up</a>
	</div>
</div>

{% if session['logged_in'] %}

You're logged in already!

{% else %}

<div class="flex-container-login">

	<div>
		<div class="title">
			<h1>Login</h1>
		</div>

		<form action="{{ url_for('main.login') }}" method="post" role="form">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			{{ form.hidden_tag() }}
			<div>
				{{form.username.label}} <br>
				{{form.username(size=30)}}
			</div>
			<br>
			<div>
				{{form.password.label}} <br>
				{{form.password(size=30)}}
			</div>
			<br>
			
			<p>{{form.submit()}}</p>


		</form>
	</div>

</div>

{% endif %}

{% endblock %}