{% extends 'base.html' %}

{% block head %}
<title>Dion - New Character</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block body %}

<div class="topnav">
	<div class="logo-image"><img class="title-image" src="/static/images/title.jpg"></div>
	<div class="menu">
		<a href="logout">Log Out</a>
		<a href="home">Home</a>
		<a href="characters">Characters</a>
	</div>
</div>

<div class="title">
<h1>New Character</h1>
</div>

<div class="flex-container-newcharacter">

	<form action="{{ url_for('main.new_character') }}" method="post" role="form">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
		{{ form.hidden_tag() }}
		<div class="character-details">
			<div class="demographics">
				<div>
					{{form.first_name.label}} <br>
					{{form.first_name(size=30)}}
				</div>
				<br>
				<div>
					{{form.last_name.label}} <br>
					{{form.last_name(size=30)}}
				</div>
				<br>
				<div>
					{{form.gender.label}} <br>
					{{form.gender(size=1)}}
				</div>
				<br>
				<div>
					{{form.profession.label}} <br>
					{{form.profession(size=1)}}
				</div>
				<br>
				<div>
					{{form.heritage.label}} <br>
					{{form.heritage(size=1)}}
				</div>
			</div>
			<div id="character-images">
				<div id="character-image-male-enchanter">
					<img class="character-image" src="/static/images/enchanter_male.png">
				</div>
				<div id="character-image-female-enchanter">
					<img class="character-image" src="/static/images/enchanter_female.jpg">
				</div>
				<div id="character-image-male-warrior">
					<img class="character-image" src="/static/images/warrior_male.jpg">
				</div>
				<div id="character-image-female-warrior">
					<img class="character-image" src="/static/images/warrior_female.jpg">
				</div>
			</div>
		</div>


		<br>
		<div id="stats-instruction">
			Please choose your stats. You have 528 stat points to place where you see fit. 
			You may not have a stat lower than 20 or higher than 100.
			{{form.stat_training_points_var(value=total_stat_training_points, type="hidden")}}
			You have <span id="training_points">{{total_stat_training_points|int}}</span> training points remaining.
		</div>
		<br>
		<div class="flex-container-stats">
			<div id="stats-left">
				{% for stat in Stats %}
					<div class="stat-label" id="label-{{stat}}">
					{{form[stat].label}}
					</div>
					<div class="stat-input" id="input-{{stat}}" onKeyup="adjust_total_stats()">
					{{form[stat](value=20, size=5)}}
					</div>
					<div class="error">
					{% for error in form[stat].errors %}
			    		{{ error }}
					{% endfor %}
					</div>
				{% endfor %}
				
				<div class="error">
				{%for error in form.stat_total_validation.errors %}
					{{error}}
				{% endfor %}
				</div>
				
			</div>
			
			<div class="stats-description">
			Please select a stat to learn more.
			</div>
	
 			{% for stat in Stats %}	
				<div class="stats-description" id="stats-description-label-{{stat}}" style="display: none">
				{{Stats[stat]['description']}}
				</div>
			{% endfor %}
				
		</div>
			
		<p>{{form.submit()}}</p>

	</form>

</div>

<script>
	var total_stat_points = parseInt(document.getElementById("stat_training_points_var").value) - 1;
	const stats = ['Strength', 'Constitution', 'Dexterity', 'Agility', 'Intellect', 'Wisdom', 'Logic', 'Spirit'];

	window.onload = function() {
		adjust_total_stats();
	};

	function adjust_total_stats() {	
		var available_stat_points = total_stat_points;
		for (let i = 0; i < stats.length; i++) {
			var stat_value = parseInt(document.getElementById("stat_value_var_" + stats[i]).value);
			if (stat_value === parseInt(stat_value, 10)) {
				available_stat_points -= stat_value;
			}
		};
		document.getElementById("training_points").innerHTML = available_stat_points;
		return false;	
	}

	$(document).ready(function() {
	  $(".stat-label").mouseenter(function() {
	    $("#"+this.id).addClass('stat-mouseenter');
	  });
	  
	  $(".stat-label").mouseout(function() {
		$("#"+this.id).removeClass('stat-mouseenter');
	  });
	  
	  $(".stat-label").click(function() {
		$(".stat-label").removeClass('stat-click');
		$("#"+this.id).addClass('stat-click');
		$(".stats-description").hide();
		$("#stats-description-"+this.id).show();
	  });
	});

	$(function() {
		$('#character-image-male-enchanter').hide()
		$('#character-image-male-warrior').hide()
		$('#character-image-female-warrior').hide()
		$('#gender').change(function() {
			if ($('#gender').val() == 'Male') {
				if ($('#profession').val() == 'Enchanter') {
					$('#character-image-male-enchanter').show()
					$('#character-image-female-enchanter').hide()
					$('#character-image-male-warrior').hide()
					$('#character-image-female-warrior').hide()
				}
				if ($('#profession').val() == 'Warrior') {
					$('#character-image-male-warrior').show()
					$('#character-image-female-enchanter').hide()
					$('#character-image-male-enchanter').hide()
					$('#character-image-female-warrior').hide()
				}
			}
			if ($('#gender').val() == 'Female') {
				if ($('#profession').val() == 'Enchanter') {
					$('#character-image-female-enchanter').show()
					$('#character-image-male-enchanter').hide()
					$('#character-image-male-warrior').hide()
					$('#character-image-female-warrior').hide()
				}
				if ($('#profession').val() == 'Warrior') {
					$('#character-image-female-warrior').show()
					$('#character-image-female-enchanter').hide()
					$('#character-image-male-enchanter').hide()
					$('#character-image-male-warrior').hide()
				}
			}
		});
		$('#profession').change(function() {
			if ($('#profession').val() == 'Enchanter') {
				if ($('#gender').val() == 'Male') {
					$('#character-image-male-enchanter').show()
					$('#character-image-female-enchanter').hide()
					$('#character-image-male-warrior').hide()
					$('#character-image-female-warrior').hide()
				}
				if ($('#gender').val() == 'Female') {
					$('#character-image-female-enchanter').show()
					$('#character-image-male-enchanter').hide()
					$('#character-image-male-warrior').hide()
					$('#character-image-female-warrior').hide()
				}
			}
			if ($('#profession').val() == 'Warrior') {
				if ($('#gender').val() == 'Male') {
					$('#character-image-male-warrior').show()
					$('#character-image-female-enchanter').hide()
					$('#character-image-male-enchanter').hide()
					$('#character-image-female-warrior').hide()
				}
				if ($('#gender').val() == 'Female') {
					$('#character-image-female-warrior').show()
					$('#character-image-female-enchanter').hide()
					$('#character-image-male-enchanter').hide()
					$('#character-image-male-warrior').hide()
				}
			}
		});
		
	});


</script>

{% endblock %}