{% extends 'base.html' %}


{% block head %}
    <title>Dion - Play</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            var socket = io();

            socket.on('connect', function() {
                socket.emit('connect_room', {first_name:  "{{character_first_name}}", last_name:  "{{character_last_name}}"})
                socket.emit('my_event', {data:  "look", first_name:  "{{character_first_name}}", last_name:  "{{character_last_name}}"})
            });

            socket.on('game_action', function(msg, cb) {
                $('#log').append('<div>' + '> ' + msg.data + '</div>');
                if (cb)
                    cb();
            });

            socket.on('game_event', function(msg, cb) {
                $('#log').append('<div>' + msg.data + '</div>');
                $('#log').append('<div>' + '> ' + '<div>')
                if (cb)
                    cb();
            });

            socket.on('status_update', function(msg, cb) {
                $('#status-window').html(msg['data'].join("<br />"))
            })

            $('form#emit').submit(function(event) {
                socket.emit('my_event', {data: $('#emit_data').val(), first_name: "{{character_first_name}}", last_name:  "{{character_last_name}}"});
                $('#emit_data').val('')
                return false;
            });
            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect_room', {first_name:  "{{character_first_name}}", last_name:  "{{character_last_name}}"})
                socket.emit('disconnect_request');
                return false;
            });

            window.onbeforeunload = function () {
                socket.emit('disconnect_room', {first_name:  "{{character_first_name}}", last_name:  "{{character_last_name}}"})
            };
        });
    </script>
{% endblock %}


{% block body %}

    <div class="topnav">
        <div class="logo-image"><img class="title-image" src="/static/images/title.jpg"></div>
        <div class="menu">
          <a href="logout">Log Out</a>
          <a href="home">Home</a>
          <a href="characters">Characters</a>
          <a href="skills" target="_blank">Skills</a>
        </div>
    </div>

    <div class="flex-container-play">
        <div id="game-window" class="flex-container-interface"> 
            <div id="interface-window">
                <div id="log">
You are not currently connected. 
                </div>
            </div>
            <div class="status-window" id="status-window">
                <span>Your character status will be displayed here.</span>
            </div>
        </div>

        <div class="flex-container-action">
            <form id="emit" method="POST" action='#'>
                <input type="text" name="emit_data" id="emit_data" placeholder="Action">
                <input type="submit" value="Enter">
            </form>
        </div>
    </div>


{% endblock %}
